/* Typography
--------------------------*/
/* ------CustomCSS------ */
/* ------body------ */
body {
background-color:#fafafa;	
			font-family: 'Ek Mukta', sans-serif;
	
}
a, 
.king-order-nav ul li .active, 
.king-order-nav ul li a:hover {
	color:#e95657;
}
.king-order-nav ul li .active:after, 
.king-order-nav ul li a:hover:after {
	border-color: #e95657;
}
.king-categories-head a {
	color: #e95657;
}
.ias-trigger-next {
	background-color:#ffffff;}
.ias-trigger a {
	color:#404040;}
button,
input[type="button"],
input[type="reset"],
input[type="submit"],
.king-alert-button {
	background-color:#e95657;
	border-color:#e95657;}
/* ------header------ */
.king-search-top .header-search-form {
	background-color:#eaeaea;
}
.king-submit-open, .king-submit-buttons {
	background-color:#e95657;
}
.king-submit-buttons:before{
	border-bottom-color:#e95657;
}
.king-submit.open .king-submit-open {
	box-shadow: 0px 0px 2px 5px #e9565750;
}
.king-featured-grid .featured-posts {
	padding: 1px;
}
.king-featured-grid .featured-posts a {
	border-radius: 4px;
}
/* ------footer------ */
/* ------sidebar------ */
/* ------PostPage------ */
/* ------KingflixPage------ */

